{% extends 'auth_base.html.twig' %}

{% block title %}Vérifier QR Code{% endblock %}

{% block body %}
    <form id="scanner-form" class="auth-form-light text-left py-5 px-4 px-sm-5" action="{{ path('app_event_attendance_check_qr_code', {'id': event_attendance.id}) }}" method="post">
        <div id="scanner"></div>
        <input type="hidden" name="qr_code" />
    </form>
{% endblock %}
