<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_dashboard') }}">
				<i class="icon-grid menu-icon"></i>
				<span class="menu-title">Dashboard (Particulier)</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
				<i class="icon-bar-graph menu-icon"></i>
				<span class="menu-title">Evènements</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="charts">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_event_index') }}">Tous les évènements</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_event_participation_request_index_by_individual_profile') }}">Mes Requêtes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_event_attendance_index') }}">Mes Participations</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</nav>
