<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">{% block title %}Dashboard{% endblock %}</li>
            {% block menu %}{% endblock %}
        </ul>
    </div>
</div>
