{% extends "partials/_sidebar.html.twig" %}

{% block title %}Dashboard (Particulier)
{% endblock %}

{% block menu %}
	<li>
		<a href="javascript:void()">
			<i class="icon icon-single-04"></i>
			<span class="nav-text">Mes Collaborations</span>
		</a>
	</li>
{% endblock %}
