{% extends "partials/_sidebar.html.twig" %}

{% block title %}Dashboard (Entreprise){% endblock %}

{% block menu %}
    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                class="icon icon-single-04"></i><span class="nav-text">Entreprises</span></a>
        <ul aria-expanded="false">
            <li><a href="{{ path('app_company_by_company_profile_index') }}">Mes entreprises</a></li>
            <li><a href="{{ path('app_company_new') }}">Ajouter une entreprise</a></li>
        </ul>
    </li>
    <li><a href="javascript:void()"><i
                class="icon icon-app-store"></i><span class="nav-text">Collaborateurs</span></a>
    </li>
    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                class="icon icon-app-store"></i><span class="nav-text">Evènements</span></a>
        <ul aria-expanded="false">
            <li><a href="#">Tous les évènements</a></li>
            <li><a href="#">Mes évènements</a></li>
        </ul>
    </li>
{% endblock %}
