{% extends 'anonym_base.html.twig' %}

{% block title %}CCI Events - Reset your password{% endblock %}

{% block body %}
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Reset your password</h4>
                                    {{ form_start(form) }}
                                        <div class="form-group">
                                            <label><strong>Email</strong></label>
                                            {{ form_widget(form.email, {"attr": {"class": "form-control"}}) }}
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Reset password</button>
                                        </div>
                                    {{ form_end(form) }}
                                    <div class="new-account mt-3">
                                        <p>Do you have an account? <a class="text-primary" href="{{ path('app_login') }}">Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
