<!DOCTYPE html>

<title>IndividualProfile</title>

{% block body %}
    <h1>IndividualProfile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ individual_profile.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ individual_profile.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ individual_profile.lastName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_individual_profile_index') }}">back to list</a>
{% endblock %}
