<!DOCTYPE html>

<title>New EventParticipationRequest</title>

{% block body %}
    <h1>Create new EventParticipationRequest</h1>

    {{ include('event_participation_request/_form.html.twig') }}

    <a href="{{ path('app_event_participation_request_index') }}">back to list</a>
{% endblock %}
